@model Shopping.Data.Entities.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar esse Categoria?</h3>
<div>
    <partial name="PartialViews/_CategoryDetails" />
</div>
    <div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategory" />
        <input type="submit" value="Deletar" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-success">Voltar</a>
    </form>
</div>