@model Shopping.Models.CityViewModel

<div class="form-group">
	<label asp-for="CityName" class="control-label"></label>
	<input asp-for="CityName" class="form-control" />
	<span asp-validation-for="CityName" class="text-danger"></span>
</div>
