@model Shopping.Data.Entities.Country

<div class="form-group">
	<label asp-for="CountryName" class="control-label"></label>
	<input asp-for="CountryName" class="form-control" />
	<span asp-validation-for="CountryName" class="text-danger"></span>
</div>